# Example env vars — DO NOT commit secrets into a repo. Provide these securely in
# DigitalOcean App Platform (or set locally for testing).
PGHOST=postgresql://doadmin:AVNS_2M7AqPPBLX8iQVQx44W@xmr-do-user-34461959-0.i.db.ondigitalocean.com:25060/defaultdb?sslmode=require
PGUSER=doadmin
PGPASSWORD=AVNS_2M7AqPPBLX8iQVQx44W
PGDATABASE=defaultdb
SSLMODE=require
SYMBOL=xmrusdt
